.bordered { border:2px solid black; }
h1 {
    color: rgb(255, 145, 0);
    font: sans-serif;
  }
  p {
    color: rgb(35, 37, 36);
   }
 #navbar{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;}

 #navbar>li { float: left;}

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;}

   #navbar>li a:hover:not(.active) {
 background-color: rgb(100, 95, 95);
 color: white;
 text-decoration:none;}
  
 .active {
 background-color: rgb(29, 87, 31);
 color: white;
 text-decoration:none;
 
   }

 .flex-container {
   display: flex;
   background-color: rgb(174, 175, 131);
   justify-content: space-around;
  align-content: center;}

 .flex-container > div {
   background-color: #3b754fe7;
    margin: 15px;
   padding: 20px;
   font-size: 15px;
   text-align: center;
  }
 .flex-container p {color:blanchedalmond}
 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }

  .grid-item {
   background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }